/*
 * Base structure
 */

 /* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
  width: 100%

}

.navbar-default {
    background-image: none;
    box-shadow: none;
}


/*
 * Global add-ons
 */


.btn-default { box-shadow: none; }

.sub-header { padding-bottom: 10px; border-bottom: 1px solid #eee; }

/*#main-menu{
  width: 700px;
}
*/

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.clickable { cursor: pointer; }


#studyPaused {
    z-index: 1999;
    
    position: fixed; 
    top: 0; 
    left: 0; 
    
    width: 100%; 
    height: 100%;

    background: rgba(0,0,0,0.9);
}

#studyPaused h1 {
    left: 0;
    line-height: 200px;
    margin-top: -100px;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 100%;

    color: white;
}

.coverall{
    z-index: 2000;
    
    position: fixed; 
    top: 0; 
    left: 0; 
    
    width: 100%; 
    height: 100%;
}

#appLoading {
    z-index: 2001;
    
    display: block;
    position: fixed;

    padding: 10px;

    bottom: 0;
    right: 0;
    margin: 10px;
}

#appError {
    top: 0;
    right: 50%; 
}

.danger-text { color: #a94442; }

.warning-text { color: #905e1e; }

/*
 * Main content
 */

#main {
  padding: 20px;
  width: calc(100% - 575px);
  overflow: auto;
  height: calc(100vh - 55px);
}

#main .page-header { margin-top: 0; }

.tab-inner-content {
  margin-top: 50px;
}

/*
 * Other vis-specific stuff
 */


/*
 * Classes
 */

/*.positive {
    background-color: #cde4f0;
    fill: #388db8;
    color: #053061;
}

.progress .positive {
    background-image: none;
    background-color: #388db8;
}

.negative {
    background-color: #fcece6;
    fill: #e76835;
    color: #67001f;
}

.progress .negative {
    background-image: none;
    background-color: #e76835;
}

.unclassified {
  background-color: #eee; 
  color: #555;
  fill: #555;
}

.progress .feedback-progress {
    background-image: none;
    background: none repeat scroll 0 0 #31a354;
}

.cert0-neg{background-color: #fcece6; color: #67001f;}
.cert1-neg{background-color: #f7cebd; color: #67001f;}
.cert0-pos{background-color: #cde4f0; color: #053061;}
.cert1-pos{background-color: #a6cfe4; color: #053061;}*/


/*
 * Spinning animation
 */

.spin {
  animation: 2s linear 0s normal none infinite spin;
  -webkit-animation: 2s linear 0s normal none infinite spin;
}

@keyframes spin {
  from {transform: rotate(0deg);}
  to {transform: rotate(359deg);}
}

@-webkit-keyframes spin {
    from {-webkit-transform: rotate(0deg);}
    to {-webkit-transform: rotate(359deg);}
}