/*
 * Feedback
 */


.report-feedback {
    z-index: 1510;
    
    display: block;
    position: fixed;

    top: -6px;
    left: 701px;

    padding: 5px;
    padding-top: 15px;
    margin-top: 4px;
    /*box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.31);*/
}

.wordtree-feedback {
    display: block;
    font-size: 13px;
    left: 0;
    margin-top: 4px;
    padding: 6px;
    position: absolute;
    top: -4px;
    width: calc(100% - 15px);
    z-index: 1510;
}

.report-feedback select{
    width:120px;
}

.report-feedback a{
    cursor: pointer;
}

.tab-inner-content {
    padding-top: 35px;
}

.tab-inner-content h4{
    margin-bottom: 20px;
}

#feedbackList .alert-default{
    background-color: #eee;
    padding: 2px;
}

@media all and (max-width: 1180px) {
    .report-feedback {
      display: none;
    }
}
