/*
 * WordTree
 */

.wordtree-search-control { height: 36px;}

#wordtree-view {
    background-color: white;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 4px;
    overflow: scroll;
    height: calc(100% - 58px);
}

#wordtree-empty {
    padding: 10px;
    color: #999;
}

#wordtree-about {
    cursor: default;
    height: 35px;
    margin-top: -35px;
    overflow: hidden;
    padding: 6px;
    position: absolute;
    z-index: 1050;
}

#wordtree-popup {
    background-color: #eee;
    border-top-right-radius: 4px;
    color: #888;
    cursor: default;
    font-size: 12px;
    height: 22px;
    margin-top: 1px;
    overflow: hidden;
    padding: 3px;
    position: absolute;
    right: 1px;
    z-index: 3050;
    display: none;
}

.wordtree-view-overlay {  
    position:fixed;
    top:48px;
    left:0;
    width:100%;
    z-index:3010;
    border: none!important;
    margin-top: 0!important;
    height: 100%!important;
}

.wordtree-about-overlay {  
    position:absolute;
    bottom:0;
    left:0;
    z-index:3010!important;
}

.wordtree-popup-overlay {
    position:fixed!important;
    margin: 0!important;
    top:48px!important;
    right:0!important;
    border-radius: 0;
    z-index:3010;
}

#wordtree-about-info {
    display: inline-block;
    margin-left: 5px; 
}