<div class="panel-heading">
  <h3 class="panel-title">LEMR Suggestions
  <span class="pull-right clickable" ng-click="isNavCollapsed = !isNavCollapsed">
    <span class="glyphicon glyphicon-chevron-up" ng-if="!isNavCollapsed"></span>
    <span class="glyphicon glyphicon-chevron-down" ng-if="isNavCollapsed"></span>
  </span>
  </h3>
</div>

<div class="panel-body" ng-if="!isNavCollapsed">
  

<div class="card-block" ng-repeat="r_id in active.encounterData.pos_reports">
  
  <!-- <span class="pull-right report-href">&nbsp; <a class="clickable" scroll-to-bookmark="report-{{r_id}}">#{{r_id}}</a></span>
  <hr /> -->
    <p class="clickable" scroll-to-bookmark="sentence-{{sent_id}}" ng-repeat="sent_id in active.encounterData.reports[r_id].pos_sentences">
      <!-- HACK: ng-int is slowing down the app-->
      <!-- initialize vars -->
<!--       {{start = active.encounterData.sentences[sent_id].start; ""}}
      {{end = active.encounterData.sentences[sent_id].end; ""}}
      {{report_id = active.encounterData.sentences[sent_id].report_id; ""}} -->

      <!-- actual display -->
      {{getBlurb(sent_id, "sentence")|truncate:120}}
      <!-- <big><b>List group heading.</b></big> -->
    </p>

</div>

<div class="card-block" ng-if="active.encounterData.pos_sentences.length == 0">
  No incidentals found.
</div>

</div>