<div class="panel-heading">
  <h3 class="panel-title">Feedback List
    
    <span class="badge alert-info animated bounceIn"> {{active.feedback.list.length}} </span>

    <div class="pull-right form-horizontal" ng-show="active.feedback.list.length">
        <button class="btn btn-default btn-xs"
                on-confirm-click="clearFeedback()" confirm-click="Do you wish to clear all feedback?">
          <i class="glyphicon glyphicon-trash"> </i>
        </button>
        <button class="btn btn-primary btn-xs" 
                ng-click="sendFeedback()" >
                <i class="glyphicon glyphicon-refresh"> </i>
        </button>
    </div>

  </h3>
</div>

<div class="panel-body" ng-if="!isNavCollapsed">

    <div class="card-block" ng-repeat="feedback in active.feedback.list" 
        ng-if="feedback.encounter.id == active.encounterId">

        <!-- scroll-to-bookmark="sentence-{{sent_id}}" -->
        <p class="clickable feedback-{{getFeedbackClass($index)}}" scroll-to-bookmark="{{getFeedbackLink($index)}}">
            {{getFeedbackBlurb($index)|truncate:50}}

            <span class="pull-right glyphicon glyphicon-remove clickable" ng-click="removeFeedback($index)"></span>
        </p>

    </div>


    <!-- <div class="card-block" ng-repeat="feedback in active.feedback.list | limitTo:1" 
        ng-if="feedback.encounter.id != active.encounterId">

        <span class="pull-right report-href">&nbsp; <em>Other encounters</em></span>
        <hr />

    </div>    
    -->

    <!-- TODO: show only unique encounters -->
    <!-- <div class="card-block" ng-repeat="feedback in active.feedback.list" ng-if="feedback.encounter.id != active.encounterId">
        
       <a href="#{{feedback.encounter.id}}" ng-click="selectEncounter(feedback.encounter.id)">#{{feedback.encounter.id}}</a>

    </div> -->

    <div class="card-block" ng-if="active.feedback.list.length == 0">
      Feedback list is empty.
    </div>

</div>