<div class="panel-heading">
  <form ng-submit="addTag(insertTag)">
    <div class="panel-title input-group">
      <span class="input-group-btn">
        <button type="submit" class="btn btn-default" ng-click="addTag(insertTag)">Add search term:</button>
      </span>
      <input type="text" 
             class="form-control" 
             placeholder="keyword..."
             ng-model="insertTag"
             id="searchKeyword">
      <span class="input-group-btn">
        <button type="submit" class="btn btn-xs" ng-click="isNavCollapsed = !isNavCollapsed">
          <span class="glyphicon glyphicon-chevron-up" ng-if="!isNavCollapsed"></span>
          <span class="glyphicon glyphicon-chevron-down" ng-if="isNavCollapsed"></span>
        </button>
      </span>
      
    </div>
  </form>
</div>
<div class="panel-body" ng-if="!isNavCollapsed">
  <!-- Highlights input -->
  <ul class="list-inline" >
    <li class="listItem" ng-repeat="elem in search_list">
      <search-tag text="{{elem}}" close="closeTag(text)"></search-tag>
    </li>
  </ul>
</div>