<div class="panel-heading">
  <h3 class="panel-title">Incidentals
  <span class="pull-right clickable" >
    <div class="pull-right form-horizontal">
        <button class="btn btn-xs"
                ng-click="isNavCollapsed = !isNavCollapsed">
          <span class="glyphicon glyphicon-chevron-up" ng-if="!isNavCollapsed"></span>
          <span class="glyphicon glyphicon-chevron-down" ng-if="isNavCollapsed"></span>
        </button>
    </div>

  </span>
  </h3>
</div>

<div class="panel-body" ng-if="!isNavCollapsed">
  

<div class="card-block" ng-repeat="r_id in active.encounterData.pos_reports">
  
  <p class="clickable" ng-if="active.encounterData.reports[r_id].pos_sections.length == 0 &&  active.encounterData.reports[r_id].pos_sentences.length == 0" scroll-to-bookmark="report-{{r_id}}">Report #{{r_id}}</p>

  <span ng-repeat="section_id in active.encounterData.reports[r_id].pos_sections">

    <p class="clickable" scroll-to-bookmark="section-{{section_id}}" ng-if="active.encounterData.sections[section_id].pos_sentences.length == 0">
    {{getBlurb(section_id, "section")|truncate:120}}</p>

    <p class="clickable" scroll-to-bookmark="sentence-{{sentence_id}}" ng-repeat="sentence_id in active.encounterData.sections[section_id].pos_sentences">
    {{getBlurb(sentence_id, "sentence")|truncate:120}}</p>

  </span>

</div>

<div class="card-block" ng-if="active.encounterData.pos_reports.length == 0">
  No incidentals found.
</div>

</div>