#feedbackmenu {
    position: absolute;
    z-index: 4001;
}

#feedbackmenu ul{
    display: block;
    width: 200px;
}

#feedbackmenu label{
    width: 170px;
    padding-left: 4px;
}

#feedbackmenu input{
    margin-left: 5px;
}

#feedbackmenu input[type=checkbox][disabled] + label {
    color: #bbb;
}

#feedbackmenu input[type=checkbox] + label {
    font-weight: normal;
}

#feedbackmenu input[type=checkbox]:checked + label {
    font-weight: 700;
    background: #fffc00;
    border: 1px solid #b3b3b3;
}

.dropdown-menu .divider {
    margin-top: 0;
}

.dropdown-menu > li > a {
    display: block;
    padding: 8px;
}

.dropdown-menu {
    overflow: hidden;
    padding-top: 0;
    padding-bottom: 0; 
}

.dropdown-menu textarea{
    border: unset;
    border-top: 1px solid #ccc;
    border-radius: 0;
}