<div class="input-group">
    <span class="input-group-btn">
      <button ng-click="esel.selectEncounter()" class="btn btn-default" type="button">Select encounter:</button>
    </span>

    <select class="form-control" ng-model="esel.eid" ng-change="esel.selectEncounter()">

        <option ng-repeat="enc in esel.enc_list"
            value="{{enc}}">
            {{ ($index > 9 ? ($index > 99 ? ($index > 999 ? $index : '&nbsp;'+$index) : '&nbsp;&nbsp;'+$index) : '&nbsp;&nbsp;&nbsp;'+$index) }}. 
            {{enc}} -- {{esel.map_annot[enc]}}
        </option>

    </select> 

</div>
