<div class="input-group">

    <select class="form-control" ng-model="esel.eid" ng-change="esel.selectEncounter()">

        <option ng-repeat="enc in esel.enc_686"
            value="{{enc}}">
            {{ ($index > 9 ? ($index > 99 ? ($index > 999 ? $index : '&nbsp;'+$index) : '&nbsp;&nbsp;'+$index) : '&nbsp;&nbsp;&nbsp;'+$index) }}. 
            {{enc}}
        </option>

    </select> 

    <span class="input-group-btn">
      <button ng-click="changeEncounter()" class="btn btn-default" type="button">Go</button>
    </span>

</div>
